* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 4rem;
}

::selection {
  -webkit-text-fill-color: #000;
  background: #FFF84B;
}

body {
  background-color: #11050d;
}

.text-gradient {
  background: linear-gradient(100deg, #FF42BF 30%, #FFF84B 110%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.submitting {
  animation: submit 1s ease-in-out 1 forwards;
}

.submitted {
  animation: finish-submit 400ms ease-in-out 1 backwards;
}

@keyframes updown {
  0% { bottom: 0 }
  100% { bottom: -2rem }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

@keyframes animate-stripes {
  0% { background-position: 0 0; }
  100% { background-position: 120px 0; }
}

@keyframes submit {
  0% { background-position: 0 125px; }
  100% { background-position: 0 0; }
}

@keyframes finish-submit {
  0% {
    background-color: #3ad154;
    background-image: none;
    box-shadow: 0 0 0 0 #47ed63;
  }
  50% {
    background-color: #3ad154;
    background-image: none;
    box-shadow: 0 0 55px 0 #47ed63;
  }
  100% {
    box-shadow: 0 0 0 0 #47ed63;

    background-color: black;
    background-position: 0 125px;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, #3ad154 100%, black 100%);
  }
}
